.button{
  /* padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  font-size: small;
  border-radius: 0.4rem; */
  background-color: rgb(68, 67, 67);
  color: rgb(223, 214, 214);
  /* color: rgb(188, 187, 187); */
}

/* .button:hover {
  background-color: rgb(84, 82, 82);
  color: white;
} */