.modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

.modal{
  padding: 1rem 2rem 2rem 2rem;
  margin: 15rem 15rem 5rem 30rem;
}

.modal h2{
  font: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size:medium;
}

.modal p{
  color: rgb(34, 34, 34);
  margin-bottom: 2rem;
}
