.no-project-main-area{
  margin-top: 4rem;
  text-align: center;
  width: 70%;
}

.no-project-main-area h2{
  font-size: large;
  font-weight: bold;
  color: rgb(113, 101, 101);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.no-project-main-area img{
  height: 3rem;
  width: 3rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-top{
  color: rgb(153, 151, 151);
  margin-bottom: 1rem;
}

.paragraph-bottom{
  margin-top: 2rem;
}

